.reveal h3 {
    color: #5D86A8;
}

.col2 {
    columns: 2 50%;         /* number of columns and width in pixels*/
    -webkit-columns: 2 50%; /* chrome, safari */
    -moz-columns: 2 50%;    /* firefox */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}